<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/cadastro.css" />
    <title>SITE de cadastro</title>
</head>

<body>
    <img src="images/image1.png" alt="Imagem foguete">

    <form action="/criarConta" method="post">
        <label>Nome Completo</label>
        <input type="text" name="Nome" id="Nome" placeholder="Digite o nome completo">
        <label>E-mail</label>
        <input type="text" name="Email" id="E-mail" placeholder="Digite o e-mail">
        <label>Senha</label>
        <input type="password" name="Senha" id="Senha" placeholder="Digite a Senha">
        

        <button type="submit">Cadastrar</button>
    </form>


</body>

</html>